@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Quicksand&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.principal{
    text-align: center;
}

.principal.show, .jogadores.show{
    display: none;
}

h1{
    font-family: cursive;
    color: #ffffff;
    font-size: 80px;
    margin-top: 20px;
    text-shadow: 15px 15px 15px #98a6e380;
}

.botao-jogar{
    margin-top: 40px;
    font-weight: bold;
    font-family: cursive;
    font-size: 25px;
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: 2px solid #44D8FF;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 0 #44D8FF, 0 0 10px 0 #44D8FF;
    text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;   
}

.botao-jogar:active{
    transform:  translateY(2px);
    background-color: transparent;
    color: #ffffff;
}

.jogadores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.symbol{
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 15px 15px 15px #9ba6e380;
}

input[type="text"]{
    padding: 15px 30px;
    font-size: 20px;
    background-color: #0A4A6E;
    border: 5px solid #ffffff;
    border-radius: 10px;
    transition: 0.5s;
    color: #ffffff;
    box-shadow: inset 0 0 10px #44D8FF, 0 0 10px 0 #44D8FF;
}

input[type="text"]:hover{
    background-color: #dd5762;
    color: #ffffff;
}

.container{
    display: none;
}

.container.show{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -50px;
}

.container p{
    font-family: cursive;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 15px 15px 15px #98a6e380;
    text-align: center;
    order: 3;
    margin-top: 100px;
    margin-left: -170px;
}

span{
    border:4px solid #44D8FF;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 25px;
    box-shadow: inset 0 0 20px 0 #44D8FF, 0 0 20px 0 #44D8FF;
    text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;
}

.btn{
    margin-left: 50px;
    margin-top: -350px;
    order: 2;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #23a9ce;
    cursor: pointer;
    outline: none;
    border: 2px solid #44D8FF;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 0 #44D8FF, 0 0 20px 0 #44D8FF;
    text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;
}

.btn::before{
    content: "LIGHT";
}

.btn:active{
    transform:  translateY(2px);
    background-color: #ffffff;
    color: #A460E9;
}

.btn.dark::before{
    content: "DARK";
}

.btn.dark{
    background-color: #4e4a4a;
    color: #ffffff;
}

#jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    order: 1;
}

.linha{
    display: flex;
    flex-direction: row;
}

.casa{
    cursor: pointer;
    height: 200px;
    width: 200px;
    background-color: #4e4a4a; 
    border: 5px solid #000000; 
    border-radius: 10px;  
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 15px 15px 15px #9ba6e380;
}

.casa.dark{
    background-color: #fffafa;
    color: #000000;
    text-shadow: 15px 15px 15px #141617;
}

.janela{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: #00000080;
}

.janela.fim{
    display: flex;
    z-index: 1000;
}

.container.fim{
    z-index: 1;
}

.modal.fim{
    width: 40%;
    min-width: 450px;
    min-height: 200px;
    background-color:#96cbd882;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: inset 0 0 20px 0 #44D8FF, 0 0 20px 0 #44D8FF;
    text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;
}

.btn-fim{
    display: none;
}

.player.fim{
    color: #4e4a4a;
    text-shadow: none;
}

.player.fim span{
    border: none;
    box-shadow: none;

}

.modal p{
    font-family: cursive;
    font-size: 40px;
    margin-bottom: 50px;
    color: #fffafa;
}

.btn-fim.fim{
    display: flex;
    justify-content: space-between;
}

.btn-fim.fim button{
    font-weight: bold;
    font-family: cursive;
    padding: 10px;
    font-size: 16px;
    background-color: #4460ff;
    cursor: pointer;
    border: 2px solid #44D8FF;
    border-radius: 4px;
    box-shadow: inset 0 0 10px 0 #44D8FF, 0 0 10px 0 #44D8FF;
    text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;
}

.btn-fim.fim button:hover{
    background-color: #44d7ff27;
    transition: 0.8s;
}

.btn-fim.fim button:active{
    transform: translateY(10px);
}

footer{
    padding: 20px;
    text-align: center;
}

footer p{
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
}