@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Quicksand&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.principal{
    text-align: center;
}

.principal.show, .jogadores.show{
    display: none;
}

h1{
    font-family: 'Mooli', sans-serif;
    color: #ffffff;
    font-size: 80px;
    margin-top: 20px;
    text-shadow: 15px 15px 15px #98a6e380;
}

.botao-jogar{
    margin-top: 40px;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: 2px solid #44D8FF;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 0 #44D8FF, 0 0 10px 0 #44D8FF;
    text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;   
}

.botao-jogar:active{
    transform:  translateY(2px);
    background-color: transparent;
    color: #ffffff;
}

.jogadores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60vh; /*100vh*/
    /*margin-top: -100px;*/
}

.symbol{
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 15px 15px 15px #9ba6e380;
}

input[type="text"]{
    padding: 15px 30px;
    font-size: 20px;
    background-color: #0A4A6E;
    border: 5px solid #ffffff;
    border-radius: 10px;
    transition: 0.5s;
    color: #ffffff;
    box-shadow: inset 0 0 10px #44D8FF, 0 0 10px 0 #44D8FF;
}

input[type="text"]:hover{
    background-color: #dd5762;
    color: #ffffff;
}

.container{
    display: none;
}

.container.show{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -50px;
}

/*.container{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.btn{
    margin-left: 100px;
    margin-top: -350px;
    order: 2;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #23a9ce;
    cursor: pointer;
    outline: none;
    border: 2px solid #44D8FF;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 0 #44D8FF, 0 0 20px 0 #44D8FF;
    text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;
}

.btn::before{
    content: "LIGHT";
}

.btn:active{
    transform:  translateY(2px);
    background-color: #ffffff;
    color: #A460E9;
}

.btn.dark::before{
    content: "DARK";
}

.btn.dark{
    background-color: #4e4a4a;
    color: #ffffff;
}

#jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    order: 1;
}

.linha{
    display: flex;
    flex-direction: row;
   
}

.casa{
    cursor: pointer;
    height: 200px;
    width: 200px;
    background-color: #4e4a4a; 
    border: 5px solid #000000; 
    border-radius: 10px;   
}

.casa.dark{
    background-color: #fffafa;
}

footer{
    /*margin-top: 100px;*/
    padding: 20px;
    /*height: 100px;*/
    text-align: center;
}

footer p{
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
}